@CHARSET "ISO-8859-1";

body {
	background-color: #ECF3FD;
}

.conteiner {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	font-size: 85%;
}

.ui-state-default .icon-login {
	background-image: url(../images/icons/people_16x16.png);
}

.ui-state-default .icon-new {
	background-image: url(../images/icons/icon_user_add_16x16.png);
}

.ui-state-default .icon-edit {
	background-image: url(../images/icons/icon_user_edit_16x16.png);
}

.ui-state-default .icon-delete {
	background-image: url(../images/icons/icon_user_delete_16x16.png);
}

.ui-state-default .icon-save {
	background-image: url(../images/icons/icon_user_save_16x16.png);
}

.ui-state-default .icon-cancel {
	background-image: url(../images/icons/icon_user_cancel_16x16.png);
}

.ui-state-default .icon-acept {
	background-image: url(../images/icons/icon_user_acept_16x16.png);
}

.ui-state-default .icon-acept-red {
	background-image: url(../images/icons/icon_user_acept_red_16x16.png);
}

.ui-state-default .icon-acept-green {
	background-image: url(../images/icons/icon_user_acept_green_16x16.png);
}